<%- include('partials/global-header') %>

<%- include('partials/page-header', {title: 'My Tickets'}) %>

<div class="page-content" id="my-tickets-page">
    <%- include('partials/ticket-list', {tickets, showNoTicketsMessage: 'You haven\'t reported any faults yet.'}) %>
</div>

<%- include('partials/copyright-footer') %>
