        <footer class="copyright-footer">
            <div class="container">
                &copy; 2018 &bullet; Powered by <a href="https://faultfixers.com/">FaultFixers</a>
            </div>
        </footer>

        <div class="loading-animation">
        </div>

        <div id="alert-modal" class="modal">
            <h1></h1>
            <p></p>
            <button>OK</button>
        </div>
    </body>
</html>
