<header class="page-header">
    <div class="container">
        <h1><%= title %></h1>

        <% if (!isLoggedIn) { %>
            <a href="/login" class="button">Login</a>
        <% } %>
    </div>
</header>
