<header class="page-header">
    <div class="container <%= (isLoggedIn ? 'is-logged-in' : 'not-logged-in') %>">
        <h1><%= title %></h1>

        <% if (!isLoggedIn) { %>
            <a href="/login" class="button login">Login</a>
        <% } %>
    </div>
</header>
